html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/************************************/
/****     FULL SCREEN SCROLL    *****/
/************************************/

.panelsContainer {
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.panel {
  width: 100%;
  height: 100vh;
  font-size: 10vmin;
  scroll-snap-align: start;
  color: #123c69;
  cursor: default;
}

.panel:nth-child(1) {
  background: #eee2dc;
}

.panel:nth-child(2) {
  background: #123456;
}

.panel:nth-child(3) {
  background: #234567;
}

.panel:nth-child(4) {
  background: #345678;
}

.panel:nth-child(5) {
  background: #456789;
}
