body {
	overflow: hidden;
	margin: 0;
}

.panelsContainer {
	position: relative;
	overflow: hidden;
	transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.top {
	font-size: 80%;
	color: hsla(0, 0%, 100%, .25);
	position: relative;
	top: -.2em;
	cursor: pointer;
}

.panel {
	position: relative;
	height: 100vh;
	overflow: hidden;
	font-size: 10vmin;
	padding: 1em;
	box-sizing: border-box;
	color: #123c69;
	cursor: default;
}

.panel:nth-child(1) {
	background: #eee2dc;
}

.panel:nth-child(2) {
	background: #123456;
}

.panel:nth-child(3) {
	background: #234567;
}

.panel:nth-child(4) {
	background: #345678;
}

.panel:nth-child(5) {
	background: #456789;
}